<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <preference for="Jcowie\FeatureToggle\Api\FeaturetoggleRepositoryInterface" type="Jcowie\FeatureToggle\Model\Resource\FeaturetoggleRepository" />
    <preference for="Jcowie\Featuretoggle\Api\Data\FeaturetoggleInterface" type="Jcowie\FeatureToggle\Model\Data\Featuretoggle" />
</config>
